{% extends 'core/base.html' %}

{% block content %}
    <h1>Producto: Categorías</h1>
    <form method="get">
        <input type="text" name="busqueda" placeholder="Buscar categoría...">
    </form>
    <a href="{% url 'producto:categoria_create' %}">
        <button>Crear Categoría de Productos</button></a>


    <table border="1">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in object_list %}
                <tr>
                    <td>{{ categoria }} </td>
                    <td>
                        <a href="{% url 'producto:categoria_detail' categoria.id %}"><button>Detalle</button></a>
                        <a href="{% url 'producto:categoria_update' categoria.id %}"><button>Editar</button></a>
                        <a href="{% url 'producto:categoria_delete' categoria.id %}"><button>Eliminar</button></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No hay datos disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'producto:index' %}"><button>Volver</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>

{% endblock %}