{% extends 'core/base.html' %}

{% block content %}
    {% if form.instance.pk %}
        <h1>Producto - Categorías - Formulario de actualización</h1>
    {% else %}
        <h1>Producto - Categorías - Formulario de creación</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>

    <a href="{% url 'producto:categoria_list' %}"><button>Volver</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>

{% endblock %}