{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Detalles de la Categoría</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ object.nombre }}</h5>
            <p class="card-text">
                {% if  object.descripcion %}
                    {{ object.descripcion }}
                {% else %}
                    -
                {% endif %}
            </p>
            <a href="{% url 'producto:categoria_list' %}" class="btn btn-primary">Volver a la lista</a>
            <a href="{% url 'core:index' %}" class="btn btn-secondary">Inicio</a>
        </div>
    </div>
</div>
{% endblock content %}