{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Bienvenido a la Tienda</h1>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">Explora nuestros productos y categorías.</p>
            <a href="{% url 'producto:categoria_list' %}" class="btn btn-primary">Ver Categorías</a>
            <a href="{% url 'producto:producto_list' %}" class="btn btn-primary">Ver Productos</a>
            <a href="{% url 'producto:venta_list' %}" class="btn btn-primary">Ver Ventas</a>
        </div>
        <div class="col-md-6">
            <img src="/static/core/assets/welcome_image.png" class="img-fluid" alt="Bienvenido">
        </div>
    </div>
    <a href="{% url 'core:index' %}" class="btn btn-secondary">Inicio</a>
</div>
{% endblock %}
