{% extends 'core/base.html' %}

{% block content %}
    <h1>Producto</h1>

    <form method="get">
        <input type="text" name="busqueda" placeholder="Buscar por producto...">
    </form>

    <a href="{% url 'producto:producto_create' %}">
        <button>Crear Productos</button></a>


    <table border="1">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in object_list %}
                <tr>
                    {% if producto.categoria %}
                        <td>{{ producto.categoria }} </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ producto.nombre }} </td>
                    <td>{{ producto.precio }} </td>
                    <td>{{ producto.stock }} </td>
                    <td>
                        <a href="{% url 'producto:producto_detail' producto.id %}"><button>Detalle</button></a>
                        <a href="{% url 'producto:producto_update' producto.id %}"><button>Editar</button></a>
                        <a href="{% url 'producto:producto_delete' producto.id %}"><button>Eliminar</button></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No hay datos disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'producto:index' %}"><button>Volver</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>

{% endblock %}