{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Confirmar Eliminación de Producto</h1>
    <div class="alert alert-warning" role="alert">
        ¿Estás seguro de que deseas eliminar el producto "{{ object }}"?
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'producto:producto_list' %}" class="btn btn-secondary">Cancelar</a>
            <a href="{% url 'core:index' %}" class="btn btn-secondary">Inicio</a>
        </div>
    </form>
</div>
{% endblock %}