{% extends 'core/base.html' %}

{% block content %}
    {% if form.instance.pk %}
        <h1>Producto - Formulario de actualización</h1>
    {% else %}
        <h1>Producto - Formulario de creación</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>

    <button><a href="{% url 'producto:producto_list' %}">Volver</a></button>
    <button><a href="{% url 'core:index' %}">Inicio</a></button>

{% endblock %}