{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <h1>La Caja de Pandora</h1>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'producto:index' %}"><button>Ir a Producto</button></a>
            <a href="#">{{ user.username }}</a>
            
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar Sesión</button>
            </form>

        {% else %}            
            <a href="{% url 'core:login' %}"><button>Iniciar Sesión</button></a>
        {% endif %}
        <a href="{% url 'core:about' %}"><button>Acerca de mí</button></a>
    </div>
    {% for message in messages %}
        <p>{{ message }} </p>
    {% endfor %}
    <img src="{% static 'core/caja.webp' %}" alt="imagen" height=200px>
{% endblock content %}