<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderna App Web</title>
</head>
<body>
    <main>
        <h1>Django</h1>
        <ul>
            <li>Es un framework moderno para crear aplicaciones web</li>
            <li>Su comunidad mundial es muy grande</li>
        </ul>
        <ol>
            <li><a href="ejercicio-1">Ir a Ejercicio 1</a></li>
            <li><a href="tirar-dado">Ir a Tirar Dados</a></li>
            <li><a href="ver-notas">Ir a Ver Notas</a></li>
            <li><a href="ejercicio-2">Ir a Ejercicio 2</a></li>
            <li><a href="cliente/list/">Lista de Clientes</a></li>
        </ol>
    </main>
    <footer>
        Hecho en el año {{ año }}
    </footer>
</body>
</html>